
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="/" method="post">
        First name:<br>
        <input type="text" name="name" value=""><br>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>