@model BankOfSimba.ViewModels.HomeIndexViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Animalizer</title>
</head>
<body>
    @{
        ViewData["Title"] = "Animalizer";
    }
    @foreach (var item in Model.Accounts)
    {

    }
    
</body>
</html>


