@model BankAccount
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Animalizer</title>
</head>
<body>
    @{
        ViewData["Title"] = "Animalizer";
    }
    <h2>Szimbácska: @Model.Name <br> @Model.Balancer() <br> @Model.AnimalType</h2>
</body>
</html>


