@model Todo
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Done</th>
            <th>Priority</th>
        </tr>
        <tr>
            <td>@Model.Id</td>
            <td>
                <form action="/@Model.Id/edit" method="post">
                    <div>
                        <label>Name of Todo</label>
                        <input type="text" name="Title" value="@Model.Title"/>
                    </div>
                    <div>
                        <label>Urgent?</label>
                        <select name="IsUrgent">
                            @if (Model.IsUrgent)
                            {
                                <option value="TRUE">Yes</option>
                                <option value="FALSE">No</option>
                            }
                            else
                            {
                                <option value="FALSE">No</option>
                                <option value="TRUE">Yes</option>
                            }
                            </select>
                    </div>
                    <div>
                        <label>Is it done?</label>
                        <select name="IsDone">
                            @if (Model.IsDone)
                            {
                                <option value="TRUE">Yes</option>
                                <option value="FALSE">No</option>
                            }
                            else
                            {
                                <option value="FALSE">No</option>
                                <option value="TRUE">Yes</option>
                            }
                            </select>
                    </div>
                    <div>
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>
